html {
    font-size: $baseFontSize;

@include tablet {
          font-size: $baseFontSize - 1px;
      }

      @include phone {
          font-size: $baseFontSize - 2px;
      }
}

html, body {
    height: 100%; /*установили для того, чтобы страница заняла всю высоту экрана (по умолчанию auto - то есть раст-ть по содерж-му)*/
}

body {
    position: relative;/*для позиционирования эл-в относительно body*/
    color: $grey; 
    line-height: 1.42;
    font-family: 'Alegreya Sans', Helvetica;
    background: $white;
    -webkit-font-smoothing: antialiased;/*сглаживание шрифтов*/
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    position: relative;
    width: 100%;
    //min-width: $ContWid+rem(20px);
    min-height: 100%;
    overflow: hidden;/*содержимое, не влезающее в блок, будет обрезано*/
}

.container {
    margin: 0 auto;
    //width: $ContWid;
    width: 97%;
    max-width: $ContWid; 
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;/*при наложении границ ячеек браузер будет считать две совмещённые границы как одну*/
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

p {
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing:border-box;/*размер блока будет рассчитан с учётом толщины паддингов и границы*/
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

dd, dt, dl {
    margin: 0;
}










