//sizes
$ContWid: 940px;
$baseFontSize: 18px;   

//colors 
$grey: #666666;
$white: #fff;
 
//breakpoint
$tablet: 768px;
$phone: 480px; 

//z-index
$z-fixed-menu: 100;

//media
@import "./components/media";    

//imports
@import url(./normalize.css);
@import "layout";
//@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400'); 

//components
@import "./components/hero";
@import "./components/header";   
@import "./components/logo";   
@import "./components/nav";    
@import "./components/phone";     
@import "./components/icons";   
@import "./components/icon";    
@import "./components/btn";     
@import "./components/section";     
@import "./components/headline";     
@import "./components/advantages";     
@import "./components/advantage";     
@import "./components/reviews"; 
@import "./components/interactive-avatar"; 
@import "./components/form"; 
@import "./components/order-section"; 
@import "./components/radio"; 
@import "./components/fixed-menu";   
@import "./components/hamburger-menu";   
@import "./components/_map";   
@import "./components/_footer";   
@import "./components/_socials";   
@import "./components/_footer-conteiner";   
@import "./components/_dropdown";    
@import "./components/_product";    
@import "./components/_parametrs";    
@import "./components/_parametr";    
@import "./components/_arrow";    
@import "./components/_team";    
@import "./components/_worker";       
@import "./components/_modal";    