.arrow {
    position: absolute;
    top: 50%;
    z-index: 100; 

    &__left { 
        left: 5%;
    }

    &__right {
        right: 5%;
    }

    &__svg {
    width: rem(15px);
    height: rem(29px);
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
    fill: none;
    }

    @include tablet {
        top: 30%;
    }
}