.parametrs {
    width: rem(91px);
    height: rem(91px);
    background: #3A587E;
    border-radius: 4px;
    position: relative;
    margin-bottom: rem(50px);

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__icon {
        width: rem(38px);
        height: rem(38px);
        fill: white;
        position: absolute;
        top: rem(17px);
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__text {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: rem(14px);
        position: absolute;
        left: rem(7px);
        bottom: rem(12px);
    }

    &__dropdown {
        left: -9999px;
        position: absolute;
        width: 273px;
        height: 291px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
        padding: 28px 25px 31px 30px;
        font-size: 16px;
        color: black;
        opacity: 0;
        transition: opacity 0.3s linear;

        &-list {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &:hover .parametrs__dropdown {
        display: block;
        left: 91px;
        opacity: 1;
    }

    @include tablet {
        display: none;
    }

    @include phone {
        display: none;
    }
}