.team-section-title {
    margin-bottom: (51px);
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @include tablet {
        display: none;
        align-items: center;
    }

    &--version--mobile {
        display: none;

        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }
}