.worker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(220px);
    position: relative;
    margin-right: rem(20px);
    margin-bottom: rem(70px);

    @include tablet {
        margin: 0 0 16px 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &__avatar {
        width: rem(220px);
        height: rem(290px);
        margin-bottom: rem(21px);

        &-png {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__headline {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__title {
        font-size: rem(21px);
        font-weight: bold;
        line-height: 1.2;
        color: #292929;
        padding-right: 4px;
    }

    &__polygone {
        width: 9px;
        height: 9px;
    }

    &__content {
        height: 0;
        opacity: 0;
        overflow: hidden;
        font-weight: 400;
        font-size: rem(18px);
        line-height: 1.2;
        color: #292929;
        text-align: center;
        transition: height  0.3s, opacity 0.3s;
        position: absolute;
        top: rem(340px);

        @include tablet {
            position: static;
        }

        &--position--open {
            height: rem(200px);
            opacity: 1;

            @include tablet {
                height: rem(375px);
            }
        } 
    }

     &__description {
    //     height: 5px;
    //     opacity: 0;
    //     overflow: hidden;
    //     font-weight: 400;
    //     font-size: rem(18px);
    //     line-height: 1.2;
    //     color: #292929;
    //     text-align: center;
    //     transition: height  0.3s, opacity 0.3s;
    //     position: absolute;
    //     top: rem(340px);

        // &--position--open {
        //     height: rem(70px);
        //     opacity: 1;
        // } 

        &-title {
            margin-bottom: 4px;
        }

        &-text {
            color: #666666;
            font-weight: 300;
        }
    }

    &__description.worker__description--position--open {
        top: rem(340px);
    }
}  