.advantages {
    display: flex; 
}

.advantages__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    &:last-child {
        padding-right: 0;
        
        &:before {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:before {
        content: url("../../img/decore/Shapes.png");
        position: absolute;
        top: 1.875rem;
        right: 0%;
        transform: translate(50%);
    }
}

