.advantages {
    display: flex; 

    @include phone {
        display: block;
    }
}

.advantages__item {
    flex: 1; 
    padding: 0 3%;
    position: relative;

     &:before {
         content: url("../img/decore/Shapes.svg");
         position: absolute;
         top: rem(50px);
         right: 0%;
         transform: translate(50%);
     }

    &:last-child {
        padding-right: 0;
        
        &:before {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }


    @include tablet {
        padding: 0 2%;

        &:before {
            display: none;
        }
    }

    @include phone {
        padding: 0 1%;
        padding-left: 1%;
        margin-bottom: 18px;

        &:before {
            display: none;
        }
    }

}

