.btn {
    display: block;
    width: rem(156px);
    font-size: rem(16px);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: rem(21px) rem(41px);
    border-radius: rem(100px);
    line-height: 1;
    border: none;

    @include phone {
        font-size: rem(18px);
    }


    &--theme--yellow {
        color: black;
        background: #FEDB3F;
    
        &:hover {
            color: #FEDB3F;
            background: black; 
    }
}

    &--theme--transparent {
        color: #fff;
        background: transparent;
        text-transform: none;
        padding: rem(21px) rem(25px);
        width: rem(108px);

    
        &:hover {
            color: #FEDB3F;
            background: transparent;
        }
    }
} 