.fixed-menu {
    position: fixed;
    top: 20%;
    right: 3%;
    z-index: $z-fixed-menu;
}

.fixed-menu__item {
    margin-bottom: 7px;

    &--active {
        .fixed-menu__link {
            border-color: white;
        }
    }
}

.fixed-menu__link {
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}