.form {
    display: flex;

    @include tablet {
        flex-direction: column;
        align-items: stretch;
        padding: 0 17%;
    }

    @include tablet {
        flex-direction: column;
        align-items: stretch;
        padding: 0 2%;
    }
}

.form__column {
    flex: 1;
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }

    @include tablet {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: rem(17px);
    margin-bottom: rem(8px);

    &:last-child {
        margin-right: 0;
    }

    @include phone {
        margin-right: rem(17px);
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(16px) rem(64px) rem(20px) rem(12px);
    border: rem(3px) solid transparent;
    border-radius: rem(4px);

    &:focus {
        border: rem(3px) solid #FEDB3F;
        outline: none;
    }

    &--textarea {
        height: rem(152px);
        resize: none;
        margin-bottom: rem(17px);
    }

    @include tablet {
        height: rem(25px);

        &--textarea {
            height: rem(82px);
        }
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phone {
        justify-content: center;
    }
}

.form__radio {
    display: flex;
}

.form__btns {
    display: flex;

    @include tablet {
        justify-content: center;
    }
}