.form {
    display: flex;
}

.form__column {
    flex: 1;
    margin-right: 1.6875rem;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: 1.0625rem;
    margin-bottom: 0.5rem;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%; 
    border: none;
    padding: 1rem 4rem 1.25rem 0.75rem;
    border: 0.1875rem solid transparent;
    border-radius: 0.25rem;

    &:focus {
        border: 0.1875rem solid #FEDB3F;
        outline: none;
    }

    &--textarea {
        width: 28.125rem;
        height: 9.5rem;
        resize: none;
        margin-bottom: 1.0625rem;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}

.form__radio {
    display: flex;
}

.form__btns {
    display: flex;
}