.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: 11px;
    text-transform: uppercase;
    color: #000;
}

.headline__description {
    padding: 0 27%;
    margin-bottom: 50px;
    line-height: 1.26;
}
