.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: 0.6875;
    text-transform: uppercase;
    color: #000;
}

.headline__description {
    padding: 0 27%;
    margin-bottom: 3.125rem;
    line-height: 1.26;
}
