.hero {
    background: url("../img/backgrounds/surfers.png") center center /cover no-repeat rgba(0, 0, 0, 1.25);
    height: 100vh;
    color: #fff;
    position: relative;
    z-index: 0;

     @include tablet {
         background: url("../img/backgrounds/surfers_tablet.png") center top rem(91px) /cover no-repeat rgba(0, 0, 0, 1.25);

         &:after {
             content: "";
             position: absolute;
             top: 0;
             left: 0;
             display: block;
             width: 100vw;
             height: rem(91px);
             background-color: #1968B1;  
             z-index: -1;
         }
     }
     
     @include phone {
        background: url("../img/backgrounds/surfers_phone.png") center top rem(91px) /cover no-repeat rgba(0, 0, 0, 1.25);
     }


} 

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(28px) 0 rem(65px);

    @include tablet {
        padding: rem(22px) 0 rem(65px);
    }
}

.hero__title-section {
    width: 51%;

    @include tablet {
        width: 102%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 rem(30px);
    }

} 

.hero__main-title {
    font-size: rem(48px);
    line-height: 1.2; 
    font-weight: bold;
    margin-bottom: rem(19px);
    text-transform: uppercase;

    @include tablet {
        font-size: rem(48px);
    }

    @include phone {
         font-size: rem(40px);
         line-height: 0.9; 
    }   
}

.hero__title-description {
    font-size: rem(21px);
    margin-bottom: rem(36px);

    @include phone {
        font-size: rem(18px);
    }   
}