.hero {
    background: url("../img/backgrounds/surfers.png") center center/100% 100% no-repeat rgba(0, 0, 0, 1.25);;
    height: 100vh;
    min-height: 40.652rem;
    color: #fff;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.75rem 0 4.0625rem;
}

.hero__title-section {
    width: 51%;
} 

.hero__main-title {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 1.0625rem;
    text-transform: uppercase;
}

.hero__title-description {
    font-size: 1.3125rem;
    margin-bottom: 2.4375rem;
}