.icon {
    display: flex;
    align-items: center;
} 

.icon__pic {
    width: rem(35px);
    height: rem(35px);
    fill: white;
    margin-right: rem(14px);
} 

.icon__description {
    font-size: rem(16px);
    max-width: rem(90px);
}  