.interactive-avatar {
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: rem(6px);
    border: rem(6px) solid transparent;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border: rem(6px) solid #FEDB3F;
    }

    &--active {
        border: rem(6px) solid #FEDB3F;
    }
}

.interactive-avatar__link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.interactive-avatar__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}