.nav {
    margin: 0 rem(30px);
    padding-top: rem(5px);
    
    @include tablet {
        display: none;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__link {
    text-decoration: none;
    white-space: nowrap;
}

.nav__item {
    font-weight: bold;
    margin-right: rem(25px);
    margin-bottom: rem(10px);

    &:last-child {
        margin-right: 0;
    }
}