.section {
    height: 100vh;
    min-height: 850px;
    color: $grey;
    display: flex;
    flex-direction: column;
    justify-content: center; 

    &--font-color--white {
        color: white;

        .section__title {
            color: inherit;
            margin-bottom: rem(55px);

            @include tablet {
                margin-bottom: rem(30px);
            }
        }
    }  
}

.section__container {
    @include tablet {
        width: 100%;
    }
}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    text-align: center;
    color: black;
    text-transform: uppercase;
    
    @include phone {
        font-size: rem(40px);
        line-height: 0.9; 
    }   
} 